@model ControllerExamples.Model.DefaultInformations

<h1>Basic Informations</h1>
<p><b>Accept: </b><span style="background: yellow">@Model.Accept</span></p>
<p><b>Accept Encoding: </b><span style="background: yellow;">@Model.AcceptEncoding</span></p>
<p><b>Accept Language: </b><span style="background: yellow;">@Model.AcceptLanguage</span></p>
<p><b>Connection: </b><span style="background: yellow;">@Model.Connection</span></p>
<p><b>Host: </b><span style="background: yellow;">@Model.Host</span></p>
<p><b>Browser: </b><span style="background: yellow;">@Model.UserAgent</span></p>